
.mx_ProfileVerifiedMark {
    background-image: url("$(res)/img/verified.png");
    background-repeat: no-repeat;
    padding: 2%;
}

.mx_ProfileUnVerifiedMark {
    background-image: url("$(res)/img/unverified.png");
    background-repeat: no-repeat;
    padding: 2%;
}
